# Covid-19 Cases Manipulation [Easily]
#### By Datacafe Thailand

## Thanks to Data Source from : https://github.com/CSSEGISandData/COVID-19

#### (This) VDO of on Covid Datamanipulation : https://youtu.be/3qfOVjJrE8I
#### (Previous) VDO of on Covid GIT Clone : https://www.youtube.com/watch?v=JDC6cvZFYRA&t=293s

##### Join us on: 
##### Facebook : data café Thailand
##### Youtube : Datacafe Thailand

In [0]:
import pandas as pd

In [0]:
!ls ./time_series_19-covid-Confirmed.csv

In [0]:
conf = pd.read_csv('./time_series_19-covid-Confirmed.csv')
conf.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
482,NaN,Dominica,15.4150,-61.3710,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
483,NaN,Grenada,12.1165,-61.6790,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
484,NaN,Mozambique,-18.6657,35.5296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
485,NaN,Syria,34.8021,38.9968,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
486,NaN,Timor-Leste,-8.8742,125.7275,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [0]:
deaths = pd.read_csv('./time_series_19-covid-Deaths.csv')
deaths.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
482,NaN,Dominica,15.4150,-61.3710,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
483,NaN,Grenada,12.1165,-61.6790,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
484,NaN,Mozambique,-18.6657,35.5296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
485,NaN,Syria,34.8021,38.9968,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
486,NaN,Timor-Leste,-8.8742,125.7275,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
recov = pd.read_csv('./time_series_19-covid-Recovered.csv')
recov.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
482,NaN,Dominica,15.4150,-61.3710,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
483,NaN,Grenada,12.1165,-61.6790,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
484,NaN,Mozambique,-18.6657,35.5296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
485,NaN,Syria,34.8021,38.9968,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
486,NaN,Timor-Leste,-8.8742,125.7275,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
conf['file'] = 'Confirmed'
conf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,file
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,Confirmed
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,Confirmed
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,Confirmed
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,Confirmed
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,Confirmed

In [0]:
deaths['file'] = 'Deaths'
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,file
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,Deaths
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,22,22,27,29,29,29,33,35,40,Deaths
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,Deaths
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Deaths
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,2,2,2,3,4,10,Deaths

In [0]:
recov['file'] = 'Recovered'
recov.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,file
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,35,35,35,41,42,42,42,42,44,Recovered
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,118,118,144,144,144,150,191,232,235,Recovered
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,105,105,109,114,114,114,124,140,144,Recovered
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,Recovered
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,35,42,42,49,60,75,87,114,139,Recovered

In [0]:
all_data = pd.concat([conf,deaths,recov], axis = 0)
all_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,file
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,Confirmed
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,Confirmed
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,Confirmed
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,Confirmed
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,Confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,NaN,Dominica,15.4150,-61.3710,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
483,NaN,Grenada,12.1165,-61.6790,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
484,NaN,Mozambique,-18.6657,35.5296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
485,NaN,Syria,34.8021,38.9968,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
486,NaN,Timor-Leste,-8.8742,125.7275,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered

In [0]:
all_data.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', 'file'],
      dtype='object')

In [0]:
country_lv = all_data.drop(columns=['Province/State', 'Lat', 'Long'])
country_lv

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,file
0,Thailand,2,3,5,7,8,8,14,14,14,...,82,114,147,177,212,272,322,411,599,Confirmed
1,Japan,2,1,2,2,4,4,7,7,11,...,773,839,825,878,889,924,963,1007,1086,Confirmed
2,Singapore,0,1,3,3,4,5,7,7,10,...,212,226,243,266,313,345,385,432,455,Confirmed
3,Nepal,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,Confirmed
4,Malaysia,0,0,0,3,4,4,4,7,8,...,238,428,566,673,790,900,1030,1183,1306,Confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,Dominica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
483,Grenada,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
484,Mozambique,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
485,Syria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered
486,Timor-Leste,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Recovered

In [0]:
country_lv.columns

Index(['Country/Region', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20',
       '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20',
       '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20',
       '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20',
       '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20',
       '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20',
       '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20',
       '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20',
       '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20',
       '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', 'file'],
      dtype='object')

In [0]:
country_lv = country_lv.groupby(by = ['Country/Region','file']).sum().reset_index()
country_lv

,Country/Region,file,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,Afghanistan,Confirmed,0,0,0,0,0,0,0,0,...,7,11,16,21,22,22,22,24,24,40
1,Afghanistan,Deaths,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Afghanistan,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
3,Albania,Confirmed,0,0,0,0,0,0,0,0,...,33,38,42,51,55,59,64,70,76,89
4,Albania,Deaths,0,0,0,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,Zambia,Deaths,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
509,Zambia,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
510,Zimbabwe,Confirmed,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,3
511,Zimbabwe,Deaths,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
512,Zimbabwe,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
select_col_date = [col for col in country_lv.columns if col not in ('Country/Region','file')] 
select_col_date

['1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20']

In [0]:
country_lv_melt = country_lv.melt(id_vars=['Country/Region','file'], value_vars=select_col_date)
country_lv_melt

      Country/Region       file variable  value
0        Afghanistan  Confirmed  1/22/20      0
1        Afghanistan     Deaths  1/22/20      0
2        Afghanistan  Recovered  1/22/20      0
3            Albania  Confirmed  1/22/20      0
4            Albania     Deaths  1/22/20      0
...              ...        ...      ...    ...
31288         Zambia     Deaths  3/22/20      0
31289         Zambia  Recovered  3/22/20      0
31290       Zimbabwe  Confirmed  3/22/20      3
31291       Zimbabwe     Deaths  3/22/20      0
31292       Zimbabwe  Recovered  3/22/20      0

[31293 rows x 4 columns]

In [0]:
country_lv_melt.rename(columns={
    'file':'Type',
    'variable':'Date',
    'value':'Case'
}, inplace=True)
country_lv_melt

      Country/Region       Type     Date  Case
0        Afghanistan  Confirmed  1/22/20     0
1        Afghanistan     Deaths  1/22/20     0
2        Afghanistan  Recovered  1/22/20     0
3            Albania  Confirmed  1/22/20     0
4            Albania     Deaths  1/22/20     0
...              ...        ...      ...   ...
31288         Zambia     Deaths  3/22/20     0
31289         Zambia  Recovered  3/22/20     0
31290       Zimbabwe  Confirmed  3/22/20     3
31291       Zimbabwe     Deaths  3/22/20     0
31292       Zimbabwe  Recovered  3/22/20     0

[31293 rows x 4 columns]

In [0]:
last_date = select_col_date[-1].replace('/','.')
last_date

'3.22.20'

In [0]:
country_lv_melt.to_csv(f'./covid19_{last_date}.csv',index=False)

# -----------------------------------Thank you --------------------------------------------------